.ulg .trace path {
    fill: none;
    stroke-width: 3px;
    stroke-linecap: round;
    /* stroke-linejoin: round; */
}
.ulg .trace path.thk {
    stroke-width: 1px;
}
.ulg .axis path ,
.ulg .axis line {
    stroke: #ccc;
}
.ulg .axis text {
    fill: #999;
}
.ulg .grid path {
    stroke: none;
}
.ulg .grid line {
    stroke: #eaeaea;
}  

.ulg text {
    font-family: gotham;
}
.ulg .y.axis text {
    text-anchor: end;
}
.ulg text.em {
    font-size: 30px;
    text-anchor: middle;
    fill: #999;
}
.ult {
    text-anchor: middle;
}
.ptr rect {
    fill: #ccc;
}
.ptr text {
    fill: #555;
    font-size: 10px;
}
.ulg text.txt {
    font-size: 10px;
}